[data-theme="light"] {
    --tcv-font-color: #333;
    --tcv-bg-color: #fff;
    --tcv-bg-highligth-color: #eee;
    --tcv-bg-tooltip-color: rgb(226, 238, 248);
    --tcv-x-color: red;
    --tcv-y-color: green;
    --tcv-z-color: blue;
    --tcv-shadow: rgba(0, 0, 0, 0.4);
    --tcv-scrollbar-hover: rgba(0, 0, 0, 0.3);
    --tcv-scrollbar-active: rgba(0, 0, 0, 0.5);
    --tcv-scrollbar-thumb: rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
    --tcv-font-color: #ddd;
    --tcv-bg-color: #444;
    --tcv-bg-highligth-color: rgb(102, 102, 102);
    --tcv-bg-tooltip-color: rgb(77, 109, 138);
    --tcv-x-color: rgb(255, 69, 0);
    --tcv-y-color: rgb(50, 205, 50);
    --tcv-z-color: rgb(59, 158, 255);
    --tcv-shadow: rgba(255,255,255, 0.6);
    --tcv-scrollbar-hover: rgba(255, 255, 255, 0.4);
    --tcv-scrollbar-active: rgba(255, 255, 255, 0.6);
    --tcv-scrollbar-thumb: rgba(255,255,255, 0.2);
}
