
.tv-tree-node {
  display: flex;
  flex-direction: column;
}

.tcv_toplevel {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-start: 0px !important;
  margin-block-end: 0px !important;
}

.tv-node-content {
  display: flex;
  align-items: center;
  padding: 2px 2px 2px 0px;
  height: 16px;
}

.tv-nav-marker {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  cursor: pointer;
  vertical-align: middle;
  flex-shrink: 0;
}

.tv-nav-marker svg {
  width: 100%;
  height: 100%;
}

.tv-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  vertical-align: middle;
  flex-shrink: 0;
}

.tv-pointer {
  cursor: pointer;
}

.tv-icon svg {
  width: 100%;
  height: 100%;
}

.tv-node-label {
  cursor: pointer;
  font-size: 14px;
  font-family: sans-serif;
}

.tv-node-label-highlight {
  color: rgb(112, 160, 220);
}

.tv-children {
  margin-left: 20px;
}
